html, body {
  margin: auto;
  padding-top: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 14px;
}
canvas {
  display: block;
}

.center {
  position:absolute;
  left:100px;
  top:100px;
  padding-top: 50px;
  padding-left: 500px;
  width: 600px;
}
.container{
  justify-content: center;;
  display: flex;
}

.anjiao{
  position:absolute;
  left:0;
  top:0;
  padding-top: 50px;
  padding-left: 500px;

}
